.div-modal-signup{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
  }
  .div-modal-signup form{
    display: flex;
    margin: 5px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .div-modal-signup h1{
    margin: 0;
  }
  .div-modal-signup input{
    display: flex;
    width: 200px;
    height: 40px;
  }

  .div-modal-signup button{
    background-color: #c9c2b1;
    color: #3b362f;
    font-weight: bold;
    margin-top: 15px;
    height: 30px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    width: 200px;
  }
  .div-modal-signup button:hover{
    background-color: #3b362f;
    color: #ccc5b2;
    cursor: pointer;
  }
