.div-spotDetail {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #EBEEF1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-spotDetail h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.div-spotDetail h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.div-spotDetail p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.div-spotDetail p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.div-spotDetail h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.div-spotDetail button {
    background-color: #C1D7EC;
    color: #3b362f;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}

.div-spotDetail button:hover {
    background-color: #3b362f;
    color: #ccc5b2;
    cursor: pointer;

}

.div-spotDetail-img-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #C1D7EC;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.div-spotDetail-img-container>div {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #EBEEF1;
    align-items: center;
    display: flex;
}

.div-spotDetail-img-container img {
    width: 100%;
}

.div-spotDetail-img-container div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.div-reserve-button {
    border-radius: 7px;
    border: 1px solid #ccc5b2;
    width: 300px;
    padding: 10px;
    background-color: #ECE4CF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-reserve-button h3 {
    margin: 5px;
}
.div-reserve-button p {
    margin: 5px;
}

.div-reserve-button button {
    height: 50px;
}

.spot-header {
    display: flex;
    justify-content: center;
    background-color: #EBEEF1;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0;
    padding: 5px;
}

.div-spot-review {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #EBEEF1;
    font-size: 16px !important;
}

.div-spot-review h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.div-spot-review p {
    margin-bottom: 8px;
    color: #666;
}

.div-review-star-review-count{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}

.div-center-dot{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 40px;
    gap: 5px;

}

#centerDot{
    font-size: 50px;
    color: #333;
    margin: 0;
}

#postReviewButton{
    background-color: #C1D7EC;
    color: #3b362f;
    margin-top: 15px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    margin-top: 0;
    margin-bottom: 15px;
}
#postReviewButton:hover{
    background-color: #3b362f;
    color: #ccc5b2;
    cursor: pointer;

}

#postReviewButton p {
    width: 100%;
    height: 100%;
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-details-owner{
    width: 70%;
}
