/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F3E3;
}
