.div-modal-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}

.div-modal-login form {
    display: flex;
    margin: 5px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div-modal-login label {
    width: auto;
    margin: 5px
}

.div-modal-login h1 {
    margin: 0;
}

.div-modal-login input {
    display: flex;
    width: 200px;
    height: 40px;
}

.div-modal-login button {
    background-color: #ECE4CF;
    color: #3b362f;
    margin-top: 15px;
    width: 200px;
    height: 30px;
}

.div-modal-login button:hover {
    background-color: #3b362f;
    color: #ccc5b2;
    cursor: pointer;

}

.div-login,
.div-sign-up {
    margin: 5px;
}
